div {
    font-family: 'Montserrat';
    font-size: 13px;
    color: black;
}

a {
    font-family: 'Montserrat';
    font-size: 13px;
}

input {
    font-family: 'Montserrat';
    font-size: 13px;
}

.loginViewContainer {
    padding-top: 30px;
    text-align: center;
}

.suspendState {
    padding-top: 10px;
    text-align: center;
    color: red;
}

.margin {
    display: inline-block;
}

.basicontainer {
    width: 100vw;
    position: absolute;
    height: 100vh;
}

.basicontainer1 {
    height: 100vh;
}

.signinContent {
    padding-top: 150px;
    text-align: center;
}

.leftSideContainer {
    width: 400px;
    display: inline-block;
    text-align: left;
    padding: 10px 15px;
}

.title1 {
    display: inline-block;
    margin-top: 10px;
}

.title2 {
    display: inline-block;
}

.pass {
    margin-top: 10px;
}

.forgot {
    margin-top: 15px;
    color: gray;
}

.forgot:hover {
    cursor: pointer;
}

.loginBtn {
    display: inline-block;
    width: 150px;
    line-height: 34px;
    border-radius: 17px;
    border: 1px solid #ff2165;
    background: #ff2165;
    color: #ffffff;
    box-shadow: 1px 1px 10px 1px #888888;
    margin-left: 15px;
    -webkit-transition: all 0.5s ease;
}

.loginBtn:hover {
    border: 1px solid #05978b;
    background: #05978b;
    transition: 0.5s ease;
    cursor: pointer;
}

.sendCodeBtn {
    display: inline-block;
    width: 180px;
    line-height: 34px;
    border-radius: 17px;
    border: 1px solid #ff2165;
    background: #ff2165;
    color: #ffffff;
    box-shadow: 1px 1px 10px 1px #888888;
    margin-left: 15px;
    -webkit-transition: all 0.5s ease;
}

.sendCodeBtn:hover {
    border: 1px solid #05978b;
    background: #05978b;
    transition: 0.5s ease;
    cursor: pointer;
}

.loginBar {
    width: 400px;
    height: 1px;
    background: gray;
    display: inline-block;
}

.fb {
    background: url("./../../../assets/fb.png");
    display: inline-block;
    background-size: 100% 100%;
    width: 30px;
    height: 30px;
}

.fbText {
    display: inline-block;
    line-height: 30px;
    vertical-align: top;
    margin-left: 10px;
}

.swiper-button-next {
    visibility: hidden;
}

.swiper-button-prev {
    visibility: hidden;
}

.switchContainer {
    position: absolute;
    width: 500px;
    height: 40px;
    top: 30px;
    right: 0px;
}

.signupButton {
    display: inline-block;
    width: 130px;
    line-height: 34px;
    border-radius: 17px;
    border: 1px solid #ff2165;
    background: #ff2165;
    color: #ffffff;
    box-shadow: 1px 1px 10px 1px #888888;
    margin-left: 15px;
    -webkit-transition: all 0.5s ease;
    text-align: center;
}

.signupButton:hover {
    border: 1px solid #05978b;
    background: #05978b;
    transition: 0.5s ease;
}

.donhaveaccount {
    display: inline-block;
}

.loadingbar {
    position: absolute;
    width: 100vw;
    line-height: 100vh;
    text-align: center;
    background: #687077;
    z-index: 1;
    opacity: 0.5;
}
